<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LineSegments.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LongestSubsequence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Search.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Sort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SumOfPairs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>testbed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>311922F624BEC6FE009FF0F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>311A2ADF24B84406000FFBFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3156D2E324BD98590090066F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3156D2F024BDC9720090066F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3185D94F24B844A3007DF821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3185D95C24B844F9007DF821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3185D96724B8451E007DF821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
